<html lang="en">
  <head>
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css"  rel="StyleSheet" type="text/css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <% include ../views/navbar.ejs %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>

    <!-- Footer -->
    <footer>
      <div class="row"> 
          <div class="col-md-12">
              <center> 
                  <i class="material-icons">copyright</i> 2018 Pintu Paul & Farhana Mustafa
              </center>
          </div>
      </div>
    </footer>
  </body>
</html>
