<html lang="en">
  <head>
    <title>Welcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css"  rel="StyleSheet" type="text/css">

  </head>
  <body>
      <% include ../views/navbar.ejs %>
      <p>test</p>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>


  </body>
</html>
